@using Sitecore.Mvc
@model BeerSorter.Feature.Breadcrumb.Models.BreadcrumbViewModel

<div>
    <ul class="breadcrumb">
        @{
            foreach (var breadcrumbItem in Model.BreadcrumbItems)
            {
                <li><a href="@breadcrumbItem.PageUrl">@breadcrumbItem.PageTitle</a></li>
            }
        }
    </ul>
</div>

<style type="text/css">
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "@Html.Raw(Model.SeperationCharacter)";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
</style>
